<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647793920541-82saff6g3sa7falui7chi68ju28jl5v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647793920541-82saff6g3sa7falui7chi68ju28jl5v1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647793920541-sagfa3qep5qiqabea8ce5gog99kn0keh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuzmpe-_TQJ82Aaxelsr4lk2hkXf2PGlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>647793920541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thedarkroom</string>
	<key>PROJECT_ID</key>
	<string>the-darkroom-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-darkroom-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647793920541:ios:9e1841ecdf0d8fc49f94f4</string>
	<key>DATABASE_URL</key>
	<string>https://the-darkroom-app.firebaseio.com</string>
</dict>
</plist>